[*]
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Default in Wargaming's source files
[{prepare,src}/**.{yaml,yml,actions,animation,txt}]
end_of_line = crlf

# Default in Wargaming's source files
[*.{yaml,yml},.yamllint]
indent_style = space
indent_size = 4

[*.{actions,animation}]
# NOTE: These files have inconsistent indentation.
# Though they have C-like syntax
indent_style = tab
